{{#> layout currentPage='Register'}}

    <form id="register-form" class="create-blog-form" method="post" action="/register">
      <h1>Register</h1>

      <div style="text-align: center;">
        <img src="/gif/register-animation.gif" alt="Login Animation" style="width: 200px; height: auto;">
      </div>

      <div class="input-group mb-3 mt-3">
        <input name="name" id="name" type="text" placeholder="Name" class="form-control" aria-label="Sizing example input" aria-describedby="title" required>
      </div>

      <div class="input-group mb-3 mt-3">
        <input name="email" id="email" type="email" placeholder="Email" class="form-control" aria-label="Sizing example input" aria-describedby="title" required>
      </div>

      <div class="input-group mb-3 mt-3">
        <input name="password" id="password" type="password" placeholder="Password" class="form-control" aria-label="Sizing example input" aria-describedby="title" required>
      </div>

      <div class="input-group mt-3">
        <input name="confirmPassword" id="confirmPassword" type="password" placeholder="Confirm Password" class="form-control" aria-label="Sizing example input" aria-describedby="title" required>
      </div>

      {{#if messages.error}}

        <div class="alert alert-danger" role="alert">
          {{messages.error}}
        </div>

      {{/if}}

      <div class="form-field">
        <div class="button-container">
          <button class="active-on" type="submit">Submit</button>
        </div>
      </div>

    </form>

{{/layout}}