{{#> layout}}

    <nav class="navbar navbar-expand-lg bg-purple">
      <div class="container-fluid">
          <a class="navbar-brand" href="/">
              <img src="/img/dumbwayslogo.png" alt="logo_dumbways" width="50">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                  <a class="nav-link effecthover others-text" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link active" href="/blog">Blog</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link effecthover others-text" href="/testimonials">Testimonials</a>
              </li>
              </ul>
              <a class="btn btn-orangered" href="/contact">Contact Me</a>
          </div>
      </div>
    </nav>

    <form id="create-blog" class="create-blog-form" onsubmit="addBlog(event)">
      <h1>Create Blog</h1>

      <div class="input-group mb-3 mt-3">
        <input id="title" type="text" placeholder="Title" class="form-control" aria-label="Sizing example input" aria-describedby="title" required>
      </div>

      <div class="input-group mb-3">
        <textarea id="content" placeholder="Content" class="form-control" aria-label="content" rows="6"></textarea>
      </div>

      <div class="input-group mb-3">
        <input type="file" class="form-control" id="image">
        <label class="input-group-text" for="image">Upload</label>
      </div>

      <div class="form-field">
        <div class="button-container">
          <button class="active-on" type="submit">Submit</button>
        </div>
      </div>

    </form>

    <hr style="width: 90%; margin: 0 auto" />

    <!-- BLOG LIST -->
    <section id="blogList" class="blog-list">
      <article class="blog-item">
          <div class="blog-item-img">
              <img src="/img/blog-img1.jpg" alt="Blog Image">
          </div>
          <div class="blog-item-text">
              <div>
                  <div class="blog-item-buttons">
                      <button class="blog-edit-button active-on">Edit Blog</button>
                      <button class="blog-post-button active-on">Post Blog</button>
                  </div>
                  <a href="blog-detail" style="text-decoration: none">
                      <h1 class="blog-item-title">Belajar bermain game online</h1>
                  </a>
                  <p>1 Jan 2025 12:34 WIB | Ujang Spakbor</p>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, dolorum.</p>
              </div>
              <p class="blog-item-relative-time">5 days ago</p>
          </div>
      </article>
    </section>

{{/layout}}