<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Personal Web</title>
    <link rel="icon" href="/img/icon.png" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>

    <nav class="navbar navbar-expand-lg bg-purple">
      <div class="container-fluid">
          <a class="navbar-brand" href="/">
              <img src="./img/dumbwayslogo.png" alt="logo_dumbways" width="50">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                  <a class="nav-link effecthover others-text" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link active" href="/blog">Blog</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link effecthover others-text" href="/testimonials">Testimonials</a>
              </li>
              </ul>
              <a class="btn btn-orangered" href="/contact">Contact Me</a>
          </div>
      </div>
  </nav>

    <!-- BLOG DETAIL SECTION -->
    <article class="blog-detail">
        <h1>Belajar bermain game online</h1>

        <p>1 Jan 2025 12:34 WIB | Ujang Spakbor</p>

        <img src="/img/blog-img1.jpg" alt="blog-image">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Repudiandae, dolorum.
        </p>
        </article>

    <script src="/js/blog.js"></script>
  </body>
</html>

