{{#> layout currentPage='Blog'}}

    <article class="blog-detail">
        <h1>Belajar bermain game online</h1>

        <p>1 Jan 2025 12:34 WIB | Ujang Spakbor</p>

        <img src="/img/blog-img1.jpg" alt="blog-image">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Repudiandae, dolorum.
        </p>
        </article>

{{/layout}}