{{#> layout currentPage='Contact'}}

        <h1 class="title-getintouch">Get in touch</h1>

        <form class="contact-form" onsubmit="submitForm(event)">
            <div class="form-field">
                <label for="name">Name</label>
                <input id="name" type="text">
            </div>
            <div class="form-field">
                <label for="email">Email</label>
                <input id="email" type="text">
            </div>
            <div class="form-field">
                <label for="phonenumber">Phone Number</label>
                <input id="phonenumber" type="text">
            </div>
            <div class="form-field">
                <label for="skills">Skills</label>
                <select id="skills">
                    <option value="" disabled selected>Silahkan pilih....</option>
                    <option>Frontend</option>
                    <option value="">Backend</option>
                </select>
            </div>
            <div class="form-field">
                <label for="message">Message</label>
                <textarea id="message"></textarea>
            </div>
            <div class="form-field">
                <div class="button-container">
                  <button class="active-on" type="submit">Submit</button>
                </div>
            </div>
        </form>

{{/layout}}