{{!-- Layout --}}
{{#> layout currentPage='Home'}}

            <main class="main-content">
                <!-- Profile Card -->
                <section id="profile-section">
                    <div class="profile-card">
                        <img class="profile-photo" src="./img/profileanimation.gif" alt="Photo">

                        <h1 class="intro-my-name">Asa Marsal</h1>

                        <p style="color: #000000;">My name is Asa Marsal. A mobile developer especially for flutter and java for android.</p>
                        <p style="color: #000000;">I have experience as Mobile Apps Developer and Front End Developer.</p>
                        <p style="color: #000000;">I join dumbways bootcamp to switch career to become a fullstack web developer.</p>

                        <table class="table table-hover">
                            <tr class="table-primary">
                                <th style="border: 1px solid black; padding: 10px;">Experience</th>
                                <th style="border: 1px solid black; padding: 10px;">Year</th>
                            </tr>
                            <tr class="table-light">
                                <td style="border: 1px solid black; padding: 10px;">Front End Developer Intern</td>
                                <td style="border: 1px solid black; padding: 10px;">2023</td>
                            </tr>
                            <tr class="table-light">
                                <td style="border: 1px solid black; padding: 10px;">Mobile Apps Developer (Java)</td>
                                <td style="border: 1px solid black; padding: 10px;">2024</td>
                            </tr>
                        </table>

                        <div class="downloadcv">
                            <a class="downlad-cv" href="./cv/cv.pdf" target="_blank">Download CV </p>
                            <div class="icondownloadcv">
                                <a href="./cv/cv.pdf">
                                    <img src="./img/icon/btn_download.png" style="width: 30px;" target="_blank">
                                </a>
                            </div>
                        </div>
                    </div>
                </section>
        
                <!-- Introduction -->
                <section class="introduction" id="introduction">
                    <div class="what-i-do">
                        <h1 class="title">
                            <span class="text-introduction"></span>
                        </h1>
                        <p>Hello guys, my name is Asa Marsal. I learn about full stack web development a lot with dumbways. I really enjoy to watch and learn about web development with Handlebar JS, Express JS and Postgre SQL. I feel really excited to be a fullstack web developer soon. Thanks for read this introduction.</p>
                    </div>
                    <div id="technologies">
                        <div id="javascript">
                            <img src="/img/icon/icon_flutter.png" alt="flutter" width="60px">
                            <h2 class="title">
                                <span class="text-frontend"></span>
                            </h2>
                            <p>Back in the day, i was an Android developer that learn and use flutter and java for android development. But, i take a step to learn fullstack web development to become a webdev.</p>
                        </div>
                        <div id="javascript">
                            <img src="/img/icon/icon_gitlab.png" alt="gitlab" width="60px">
                            <h2 class="title">
                                <span class="text-versioncontrol"></span>
                            </h2>
                        <p>When in work, i was using github and gitlab for version control with my team. You can check my github and make a friend with me. Feel free to connect and work together.</p>
                        </div>
                        <div id="javascript">
                            <img src="/img/icon/icon_docker.png" alt="docker" width="60px">
                            <h2 class="title">
                                <span class="text-automateddeployment"></span>
                            </h2>
                        <p>I was using firebase for deploy my mobile apps before. But now, i learn to use vercel and netlify to deploy website. Automated deployment help me a lot to publish my website.</p>
                        </div>
                    </div>
                    <div class="socialmedias">
                        <h2 class="title-socialmedia">
                            <span class="text-socialmedia"></span>
                        </h2>
                        <div id="socialmediaicon">
                            <a id="socmed-1" href="https://linkedin.com/in/asamarsal" target="_blank">
                                <img src="/img/icon/icon_linkedin.png" alt="linkedin" width="40px">
                            </a>
                            <a id="socmed-2" href="https://medium.com/@asamarsal" target="_blank">
                                <img src="/img/icon/icon_medium.png" alt="medium" width="40px">
                            </a>
                            <a id="socmed-3" href="https://twitter.com/asamarsal" target="_blank">
                                <img src="/img/icon/icon_twitter.png" alt="twitter" width="40px">
                            </a>
                            <a id="socmed-4" href="https://www.instagram.com/asamarsal" target="_blank">
                                <img src="/img/icon/icon_instagram.png" alt="instagram" width="40px">
                            </a>
                            <a id="socmed-5" href="https://www.youtube.com/channel/UClqybM4UxI5B6KBkp7Xqu2g" target="_blank">
                                <img src="/img/icon/icon_youtube.png" alt="youtube" width="40px">
                            </a>
                        </div>
                    </div>
                    <p class="createdby-asa">Created by Asa Marsal</p>
                </section>
            </main>
{{/layout}}

<script>
    let typed = new Typed(".text-introduction", {
            strings: ["Introduction"],
            typeSpeed: 60,
            backSpeed: 40,
            loop: true
        }
    );

    let typed2 = new Typed(".text-frontend", {
        strings: ["Frontend Developer"],
        typeSpeed: 60,
        backSpeed: 40,
        loop: false,
        showCursor: false
    });

    let typed3 = new Typed(".text-versioncontrol", {
        strings: ["Version Control Tools"],
        typeSpeed: 60,
        backSpeed: 40,
        loop: false,
        showCursor: false
    });

    let typed4 = new Typed(".text-automateddeployment", {
        strings: ["Automated Deployment"],
        typeSpeed: 60,
        backSpeed: 40,
        loop: false,
        showCursor: false
    });

    let typed5 = new Typed(".text-socialmedia", {
        strings: ["Social Media"],
        typeSpeed: 60,
        backSpeed: 40,
        loop: false,
        showCursor: false
    });
</script>