{{#> layout currentPage='Testimonials'}}

        <main>
            <h1 class="testimonials-title-1">Testimonials</h1>
            <p class="testimonials-title-2" style="font-size: 20px;">Rating by Stars</p>

            <div class="testimonials-star-buttons">
                <button class="active-two" onclick="showAllTestimonials()">All</button>
                <button class="active-two" onclick="filterTestimonialsByStar(1)">★ 1</button>
                <button class="active-two" onclick="filterTestimonialsByStar(2)">★ 2</button>
                <button class="active-two" onclick="filterTestimonialsByStar(3)">★ 3</button>
                <button class="active-two" onclick="filterTestimonialsByStar(4)">★ 4</button>
                <button class="active-two" onclick="filterTestimonialsByStar(5)">★ 5</button>
            </div>

            <div id="testimonialsContainer" class="testimonials-list">
                <article>
                    <img class="testimonials-img" src="/img/blog-img1.jpg" alt="testimonial1">
                    <p class="testimonials-item-caption">Film yang sangat bagus</p>
                    <p style="text-align: right;">Asa Marsal</p>
                    <p style="text-align: right;">★ 5</p>
                </article>
            </div>

        </main>

{{/layout}}