@media screen and (max-width: 768px) {
    html, body {
        max-width: 100%;
        overflow-x: hidden;
    }
    
    nav {
        flex-direction: column;
        padding: 10px;
        width: 100%;
    }

    .navbar-links {
        width: 100%;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .nav-contact-button {
        width: 50%;
        text-align: center;
        margin-top: 10px;
    }

    .main-content {
        flex-direction: column;
        padding: 10px;
    }

    #technologies {
        flex-direction: column;
        gap: 30px;
    }

    #javascript {
        text-align: center;
        padding: 15px;
    }

    #socialmediaicon {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 15px;
        margin-top: 20px;
    }

    .contact-form {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .form-field {
        width: 60%;
    }

    .form-field input,
    .form-field select,
    .form-field textarea {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .profile-card {
        width: 80%;
        margin: 10px auto;
        padding: 10px;
    }

    .contact-form {
        width: 80%;
        padding: 0 10px;
    }

    h1 {
        font-size: 20px;
    }

    .profile-photo {
        width: 100%;
        height: auto;
    }
}

html {
    font-family: Arial, Helvetica, sans-serif;
  }
  
.profile-card {
    border-style: solid; 
    /* width: 400px;  */
    flex: 1;
    padding:10px; 
    margin: 30px auto; 
    box-shadow: 0 4px 8px rgba(0, 0, 2, 2);
    border-radius: 10px; 
    border-color: #cccccc;
}

#profile-section {
    flex: 1;
}

body {
    margin: 0;
}

.active {
    user-select: none;
    border-radius: 10px;
    transition: all 0.1s ease;
    box-shadow: 0 0 5px #fe4e30;
}

.active:hover {
    transform: translateY(-2px);
    box-shadow: 0 0 10px #fe4e30;
}

.title{
    user-select: none;
    margin-top: 30px;
}

.title-getintouch{
    user-select: none;
    margin-top: 30px;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
}

.table-profile{
    border: 1px solid black; 
    border-collapse: collapse; 
    border-collapse: collapse; 
    width: 100%;
}

.profile-photo{
    border-radius: 15px;  
    width: 100%;
}

.navbar-links a{
    color: #ffffff;
    text-decoration: none;
}

nav {
    background-color: rebeccapurple;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

.navbar-links {
    display: flex;
    gap: 20px;
    align-items: center;
    height: 100%;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
    display: flex;
    align-items: center;
    height: 100%;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    display: flex;
    align-items: center;
    height: 100%;
    user-select: none;
}

.nav-contact-button{
    text-decoration: none;
    background-color: orangered;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    user-select: none;
}

/* Contact Form */

.contact-form{
    width: 500px;
    margin: 30px auto;
}

.form-field{
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
    gap: 8px;
    user-select: none;
}

.form-field input, select, textarea{
    padding: 10px;
    font-size: 18px;
    background-color: azure;
    border : 1px solid #cccccc;
    border-radius: 6px;
}

.form-field label{
    cursor: pointer;
}

.contact-form button, text{
    text-decoration: none;
    background-color: orangered;
    color: #ffffff;
    padding: 10px 20px;
    border : 1px solid #cccccc;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    user-select: none;
}

.img{
    user-select: none;
}

/* CREATE BLOG FORM STYLES */

.create-blog-form {
    width: 500px;
    margin: 30px auto;
  }
  
  .create-blog-form h1 {
    text-align: center;
  }
  
  .button-container {
    text-align: right;
    margin-top: 30px;
  }
  
  .create-blog-form button {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: orangered;
    color: white;
    padding: 10px 25px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
  
  /* BLOG STYLE */
  .blog-list {
    width: 90%;
    margin: 30px auto 300px;
    background-color: salmon;
  }
  
  #blogList {
    background-color: azure;
  }
  
  .blog-item {
    height: 300px;
    padding: 15px;
    border: 1px solid #aaa;
    border-radius: 10px;
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
  }
  
  .blog-item-img img {
    width: 350px;
    height: 100%;
  }
  
  .blog-item-text {
    flex: 1;
  }
  
  .blog-item-title {
    color: black;
    font-size: 24px;
    margin: 0;
  }
  
  .blog-item-buttons {
    text-align: right;
  }
  
  .blog-edit-button {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ccc;
    color: black;
    padding: 10px 25px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
  
  .blog-post-button {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: orangered;
    color: white;
    padding: 10px 25px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
  
  .blog-item-relative-time {
    color: #aaa;
    font-size: 14px;
    text-align: right;
  }
  
  /* BLOG DETAIL STYLE */
  .blog-detail {
    width: 60%;
    margin: 40px auto;
  }
  
  .blog-detail img {
    width: 100%;
  }
  
  .menu-active{
    color: #fe4e30 !important;
    font-weight: bold;
    font-size: 18px;
  }

  /* Introduction */

.main-content{
    display: flex;
    padding: 20px;
    gap: 30px;
}

#introduction{
    flex: 2.5;
}

#technologies{
    display: flex;
    gap: 20px;
}

#socialmediaicon a{
    text-decoration: none;
    margin-right: 10px;
}